
main {
	background: #FAFAFA;
	color: rgb(91, 161, 80);
}

.jumbotron {
    /* background: #FAFAFA; */
}
.introduction {
    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
}
.days {
    height: 300px;
    width: 400px;
    border: solid 2px black;
    display: flex;
	flex-direction: column;
    /* justify-content: center; */
    text-align: center;
  
}
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    height: 200px;
    width: 300px;
}
.days > p {
    margin-top: 0px;
  }

  .card-body > a {
    display: flex;
    justify-content: center;
    text-align: center;
  }
.icons-social {
    font-size: 2em;
}

  .icons-social a {
	color: black;
}

.icons-social a svg path{
	fill: black;
}
