
main {
	background: #FAFAFA;
	color: #0277BD;
}


.introduction {
    display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
}
.days {
    height: 300px;
    width: 400px;
    border: solid 2px black;
    display: flex;
	flex-direction: column;
    /* justify-content: center; */
    text-align: center;
  
}
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    height: 200px;
    width: 300px;
}